<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trustee home</title>
</head>
<body>
    <h1>Trustee home</h1>
    <hr>
    <div>
        <h3>[Genesis configuration]</h3>
        <button type="button" onclick="location.href='/add_genesis_steward'">
            [1] Add genesis steward
        </button>
        <br>
        <button type="button" onclick="location.href='/add_genesis_node'">
            [2] Add genesis node
        </button>
        <br>
        <button type="button" onclick="location.href='/generate_domain_genesis'">
            Generate domain genesis
        </button>
        <br>
        <button type="button" onclick="location.href='/generate_pool_genesis'">
            Generate pool genesis
        </button>
        <br>
        <button type="button" onclick="location.href='http://localhost/trustee/domain_transactions_genesis'">
            View domain transactions genesis file
        </button>
        <br>
        <button type="button" onclick="location.href='http://localhost/trustee/pool_transactions_genesis'">
            View pool transactions genesis file
        </button>
    </div>
    <hr>
    <!--
    <div>
        <h3>[Common configuration]</h3>
        <button type="button">
            Add steward
        </button>
    </div>
    -->
</body>
</html>